@tailwind base;
@tailwind components;
@tailwind utilities;

/* estilo geral */
* {
  margin: 0;
  padding: 0;
}
.roboto {
  font-family: var(--roboto);
}
.oxygen {
  font-family: var(--Oxygen);
}
.lobster {
  font-family: var(--lobster);
}
body {
  font-family: "Robot";
}

.main-container {
  background-color: #2f3e46;
  min-height: 100vh;
}

/* tela de login */
.container-start {
  background-color: #cad2c5;
  position: relative;
  top: 4vw;
  margin: 0 16vw;
  height: 40vw;
  border-radius: 15px;
  box-shadow: 3px 3px 10px 0px rgba(132, 169, 140, 1);
}

.img-login {
  width: 50rem;
  margin: 25px;
}
.tirtle-login {
  height: 30vw;
  width: 26vw;
  position: fixed;
  left: 20vw;
}

.box-form {
  margin-bottom: 12vw;
}

.container-login {
  background: radial-gradient(
    ellipse farthest-corner at center center,
    #84a98c 28%,
    #52796f 78%
  );
  position: fixed;
  height: 40vw;
  margin: -1px;
  padding: 7vw;
  right: 16vw;
  border-radius: 0 15px 15px 0;
}

.input-login {
  border-radius: 6px;
  padding: 6px;
}

.button-login {
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 4px;
  text-decoration: none;
  margin: 5px;
}

.button-login:active {
  position: relative;
  top: 3px;
}

.stripe-left {
  border-bottom: 1px solid black;
  width: 127px;
  height: 1px;
  position: fixed;
  top: 69vh;
  left: 125vh;
}
.stripe-right {
  border-bottom: 1px solid black;
  width: 127px;
  height: 1px;
  position: fixed;
  top: 69vh;
  left: 143vh;
}
