@tailwind base;
@tailwind components;
@tailwind utilities;

/* estilo geral */
* {
  margin: 0;
  padding: 0;
}
.roboto {
  font-family: var(--roboto);
}
.oxygen {
  font-family: var(--Oxygen);
}
.lobster {
  font-family: var(--lobster);
}
body {
  font-family: "Robot";
}

.main-container {
  background-color: #2f3e46;
  min-height: 100vh;
}

/* tela de login */
.container-start {
  background-color: #cad2c5;
  position: relative;
  top: 4vw;
  margin: 0 300px;
  height: 40vw;
  border-radius: 15px;
  box-shadow: 3px 3px 10px 0px rgba(132, 169, 140, 1);
}
.tirtle-login {
  height: 30vw;
  width: 26vw;
  margin: 0 0 -28px;
}

.box-form {
  margin: 0 0 180px;
}

.container-login {
  background: radial-gradient(
    ellipse farthest-corner at center center,
    #84a98c 28%,
    #52796f 78%
  );
  position: relative;
  height: 40vw;
  margin: -1px;
  padding: 7vw;
  right: -58px;
  border-radius: 0 15px 15px 0;
}

.input-login {
  border-radius: 6px;
  padding: 3px;
}

.button-login {
  color: #cad2c5 !important;
  text-shadow: 1px 1px 0px #52796f;
  box-shadow: 1px 1px 1px #52796f;
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #84a98c;
  background: #2f3e46;
  background: linear-gradient(to top, #2f3e46, #567180);
}

.button-login:hover {
  color: #2f3e46 !important;
  background: #898f86;
  background: linear-gradient(to top, #898f86, #eef7e8);
}
