@tailwind base;
@tailwind components;
@tailwind utilities;

/* estilo geral */
* {
  margin: 0;
  padding: 0;
}
.roboto {
  font-family: var(--roboto);
}
.oxygen {
  font-family: var(--Oxygen);
}
.lobster {
  font-family: var(--lobster);
}
body {
  font-family: "Robot";
}

.main-container {
  background-color: #2f3e46;
  min-height: 100vh;
}

/* tela de login */
.container-start {
  background-color: #cad2c5;
  position: relative;
  top: 4vw;
  margin: 0 300px;
  height: 40vw;
  border-radius: 15px;
}

.tirtle-login {
  height: 30vw;
  width: 26vw;
  margin: 0 0 -28px;
}

.box-form {
  margin: 0 0 180px;
}

.container-login {
  background: radial-gradient(
    ellipse farthest-corner at center center,
    #84a98c 28%,
    #52796f 78%
  );
  position: relative;
  height: 40vw;
  margin: -1px;
  padding: 7vw;
  right: -58px;
  border-radius: 0 15px 15px 0;
}

.input-login {
  border-radius: 6px;
  padding: 3px;
}
